# Add any directories, files, or patterns you don't want to be tracked by version control
.env
composer.lock
phpunit.*
/node_modules
/public/hot
/public/storage
/public/cdn
/public/cache/
/tests/Unit/cache
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
npm-debug.log
yarn-error.log
.phpunit.result.cache
/app/screenshots
/tests/google-credentials.json